<div class="row">
  <form id="create-post-form">
    <div class="my-3">
      <label for="create-post-title" class="form-label">Blog Title</label>
      <input type="text" class="form-control" id="create-post-title">
    </div>
    <label for="create-post-content" class="form-label">Content Here</label>
    <div class="form-floating">
      <textarea class="form-control" id="create-post-content" style="height: 200px"></textarea>
    </div>
    <button id="create-post-save-button" class="my-3">Save Post</button>
  </form>
</div>

<script src="/js/post.js"></script>