{{#if Posts}}
  {{#each Posts as |blog|}}
    <div class="row my-3">
      <div class="card">
        <div class="card-header">{{blog.title}}</div>
        <div class="card-body">
          <p class="card-text">
            {{blog.content}}
          </p>
          <a href="/edit-blog/{{blog.id}}" class="btn btn-primary">Open Blog</a>
        </div>
      </div>
    </div>
  {{/each}}
{{/if}}
<div class="row">
  <a id="add-post-link" href="/create-blog">Add Post</a>
</div>