<div class="row">
  <div class="card">
    <div class="card-header">{{title}}</div>
    <div class="card-body">
      <textarea class="form-control" id="edit-blog-textarea" style="height: 100px">{{content}}</textarea>
    </div>
    <div class="card-footer text-muted">
      <button id="edit-blog-save-button" data-id="{{id}}">Save</button>
    </div>
  </div>
</div>